<h1 class="mt-3">Selectores anidados</h1>
<hr>


<form [formGroup]="myForm">

<!-- Región -->
<div class="row mb-3">
  <div class="col">
    <label class="form-label"><h4>Continente:</h4></label>
    <select formControlName="region" class="form-control">
      <option value="">-- Seleccione Continente --</option>
      <option *ngFor="let region of regions" [value]="region"> {{  region }} </option>
    </select>
  </div>
</div>

<!-- Countries -->
<div class="row mb-3" *ngIf="countriesByRegion.length > 0">
  <div class="col">
    <label class="form-label"><h4>País</h4></label>
    <select formControlName="country" class="form-control">
      <option value="">-- Seleccione País --</option>
      <option *ngFor="let countries of countriesByRegion" [value]="countries.cca3"> {{  countries.name }} </option>
    </select>
  </div>
</div>

<!-- Borders -->
<div class="row mb-3" *ngIf="borders.length > 0">
  <div class="col">
    <label class="form-label"><h4>Fronteras</h4></label>
    <select formControlName="border" class="form-control">
      <option value="">-- Seleccione Fronteras --</option>
      <!-- <option *ngFor="let border of borders" [value]="border"> {{  border }} </option> -->
      <option *ngFor="let country of borders" [value]="country.cca3"> {{  country.name }} </option>
    </select>
  </div>
</div>

</form>

<h3>Formulario</h3>
<pre>
  <code>
    {{ myForm.value | json }}
  </code>
</pre>
<p>
  is form valid?  {{ myForm.valid }}
</p>
